/* Write your CSS here */
.bg-container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient( #ff6e7f, #bfe9ff);

}

